.login-form {
    text-align: center;
}

.login-form form {
    max-width: 300px;
    margin: 0 auto;
}

input[type="email"],
input[type="password"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Para incluir el padding en el ancho total del botón */
}

.login-form button[type="submit"],
.register button {
    width: 92%;
    padding: 10px;
    margin: 4%;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-style: double;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;

}

.login-form button[type="submit"]:hover,
.register button:hover {
    background-color: white;
    color: black;
}

hr {
    width: 100%;
}

.register {
    text-align: center;
    margin-top: 20px;
}

.container{
    height: 80%;
}