.cuenta-div {
  padding: 20px;
  font-family: "Roboto";
  font-weight: bold;
}

.cuenta-div h2 {
  margin-bottom: 10px;
  font-family: "UndergroundFuente"; 
}

.cuenta-div p {
  margin: 5px 0;
}

.informacion{
  color: rgb(66, 66, 66);
  font-weight:normal;
}

.container{
  height: 80%;
}
