@font-face {
    font-family: 'UndergroundFuente';
    src: url('gomarice_rockin_record.ttf') format('truetype');
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 25% 45% 15% 15%;
    padding: 3%
}

.boton_desplegable{
    cursor: pointer;
}

.menu-lista {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 50%; /* Ocupa todo el ancho disponible */
    height: 50%; /* Calcula la altura restante de la ventana */
    right: 0;
    background-color: #c8c8c8;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5% 4%;
    z-index: 1;
    overflow-y: auto; /* Añade un scroll vertical si es necesario */
}

.menu-lista li {
    list-style-type: none;
    padding-bottom: 40%;
    font-size: 175%;
    font-family: 'UndergroundFuente';
}

.menu-lista li a {
display: block;
text-decoration: none;
color: black;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 2% 0;
    display: grid;
    grid-template-columns: 20% 20% 20%;
}
